body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lim_width{
    width: 90vw;
}
.button_series{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1rem;
}
.lav_button{
    width: fit-content;
    height: fit-content;
    padding: .4rem .6rem;
    background-color: rgb(163, 94, 228);
    color: ghostwhite;
    border: none;
}
.lav_button:hover{
    cursor:pointer;
}
#topmost_div{
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#name_text{
    font-size: 2rem;
}
#portfolio_scroll{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2rem 24rem 2rem;
    gap: .7rem;
    box-sizing: border-box;
    justify-content: center;
}
#portfolio_title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
#tab_switch {
    display: grid;
    grid-template-rows: 10% 90%;
    overflow: hidden;
}
#portfolio_preview{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgb(163, 94, 228);
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#portfolio_preview div{
    display: inline-block;
    gap: 1.2rem;
    align-items: center;
    padding: 0rem 1rem;
    box-sizing: border-box;
}
#portfolio_preview div::-webkit-scrollbar { 
    display: none;
}
#portfolio_preview div img{
    height: 80%;
    width: auto;
    background-color: white;
}
#buzzword_list {
    display: grid;
    font-size: 1rem;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
}
#buzzword_list span {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .1s;
}
#explore_portfilio_button{
    grid-row: 3;
    grid-column: 1;
    justify-self: center;
}